write-kubeconfig-mode: "0644"
node-name: {{ server_hostname }}
node-ip: {{ server_ip }}
advertise-address: {{ server_ip }}
bind-address: 0.0.0.0
cluster-cidr: 10.42.0.0/16
service-cidr: 10.43.0.0/16
disable:
  - traefik
  - servicelb
tls-san:
    - {{ server_ip }}
    - {{ server_hostname }}