apiVersion: apps/v1
kind: Deployment
metadata:
  name: trivy-operator
  namespace: trivy-system
  labels:
    app: trivy-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trivy-operator
  template:
    metadata:
      labels:
        app: trivy-operator
    spec:
      serviceAccountName: trivy-operator
      containers:
        - name: trivy-operator
          image: ghcr.io/aquasecurity/trivy-operator:0.29.0
          imagePullPolicy: IfNotPresent
          env:
            - name: OPERATOR_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: TRIVY_SEVERITY
              valueFrom:
                configMapKeyRef:
                  name: trivy-operator-config
                  key: TRIVY_SEVERITY
            - name: TRIVY_IGNORE_UNFIXED
              valueFrom:
                configMapKeyRef:
                  name: trivy-operator-config
                  key: TRIVY_IGNORE_UNFIXED
            - name: TRIVY_TIMEOUT
              valueFrom:
                configMapKeyRef:
                  name: trivy-operator-config
                  key: TRIVY_TIMEOUT
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
              ephemeral-storage: "1Gi"
            limits:
              cpu: "500m"
              memory: "512Mi"
