---
galaxy_info:
  author: Kwadwo Boakye
  description: Install and configure Zram for compressed RAM swap
  company: KwadwoLabs.INC
  license: MIT
  min_ansible_version: "2.9"
  platforms:
    - name: Ubuntu
      versions:
        - focal
        - jammy
        - noble
    - name: Debian
      versions:
        - bullseye
        - bookworm
  galaxy_tags:
    - zram
    - swap
    - memory
    - linux
dependencies: []
