apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: whoami
  namespace: default
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`whoami.kwadwolabs.cloud`)
      kind: Rule
      services:
        - name: whoami-service
          port: 80
  tls:
    certResolver: myresolver
