apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: exposedsecretreports.aquasecurity.github.io
spec:
  group: aquasecurity.github.io
  names:
    kind: ExposedSecretReport
    plural: exposedsecretreports
    singular: exposedsecretreport
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
