deploymentMode: SingleBinary

singleBinary:
  replicas: 1
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
  tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
      effect: NoSchedule
    - key: node-role.kubernetes.io/master
      operator: Exists
      effect: NoSchedule
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 512Mi
  persistence:
    enabled: false
  extraArgs: 
    - -config.expand-env=true
  extraEnvFrom:
    - secretRef:
        name: loki-s3-secrets  

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0
ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0

loki:
  useTestSchema: false
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  schemaConfig:
    configs:
      - from: 2020-01-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  config: |
    server:
      http_listen_port: 3100

    ingester:
      chunk_idle_period: 5m
      chunk_retain_period: 30s

    storage_config:
      tsdb_shipper:
        active_index_directory: /tmp/loki/tsdb-shipper-active
        cache_location: /tmp/loki/tsdb-shipper-cache
        cache_ttl: 24h
      aws:
        s3: s3://minio-api.kwadwolabs.cloud
        s3forcepathstyle: true
        insecure: false
        access_key_id: ${access-key}
        secret_access_key: ${secret-key}

    limits_config:
      reject_old_samples: true
      reject_old_samples_max_age: 168h