# loki-values.yaml
deploymentMode: SimpleScalable

gateway:
  replicas: 1
read:
  replicas: 1
write:
  replicas: 1
backend:
  replicas: 1

# No PVCs
read:
  persistence:
    enabled: false
write:
  persistence:
    enabled: false
backend:
  persistence:
    enabled: false

# Light resources
gateway:
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
read:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
write:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
backend:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi

# Secrets only
gateway:
  extraArgs:
    - -config.expand-env=true
  extraEnvFrom:
    - secretRef:
        name: loki-s3-secrets
read:
  extraEnvFrom:
    - secretRef:
        name: loki-s3-secrets
write:
  extraEnvFrom:
    - secretRef:
        name: loki-s3-secrets
backend:
  extraEnvFrom:
    - secretRef:
        name: loki-s3-secrets

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  schemaConfig:
    configs:
      - from: 2020-01-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  storage:
    type: s3
    bucketNames:
      chunks: loki-chunks
      ruler: loki-index
    s3:
      endpoint: minio-api.kwadwolabs.cloud
      s3ForcePathStyle: true
      insecure: false
  config: |
    server:
      http_listen_port: 3100

    storage_config:
      tsdb_shipper:
        active_index_directory: /loki/tsdb-index
        cache_location: /loki/tsdb-cache
        cache_ttl: 24h
      aws:
        s3: s3://${access-key}:${secret-key}@minio-api.kwadwolabs.cloud
        s3forcepathstyle: true
        insecure: false

    limits_config:
      reject_old_samples: true
      reject_old_samples_max_age: 168h