---
# handlers file for k3s
- name: Restart K3s
  ansible.builtin.service:
    name: k3s
    state: restarted
  become: true

- name: Restart K3s Agent
  ansible.builtin.service:
    name: k3s-agent
    state: restarted
  become: true
